@model IEnumerable<BoydMIS4200.Models.AppointmentDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Appointment.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vet.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vet.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppointmentdetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentdetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointmentdetailID })
        </td>
    </tr>
}

</table>
